---

- import_tasks: prepare.yml
  tags:
    - "docker_install"

- import_tasks: repositories.yml
  tags:
    - "docker_repo"
  when:
    - docker_repo_enabled

- import_tasks: install.yml
  tags:
    - "docker_install"

- import_tasks: configure.yml
  tags:
    - "docker_config"

- import_tasks: service.yml
  tags:
    - "docker_service"
