# config file for ansible -- http://ansible.com/
# ==============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.cfg, whichever it
# finds first

[defaults]
ansible_managed = Ansible managed: {file} modified by {uid} on {host}

deprecation_warnings = True

callback_plugins = plugins/callback
callback_whitelist = profile_tasks
stdout_callback = yaml

var_compression_level = 5

interpreter_python: auto

[ssh_connection]
pipelining=True
ssh_args = -o "LogLevel VERBOSE" -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null
retries = 2

[diff]
# Always print diff when running ( same as always running with -D/--diff )
always = yes

[inventory]
ignore_patterns = artifacts, credentials
