{{ ansible_managed | comment }}

[Service]

EnvironmentFile   = {{ docker_defaults_directory }}/docker
ExecStart         =
ExecStart         =/usr/bin/dockerd $OPTIONS
# --containerd={{ docker_containerd.socket }}

SyslogIdentifier  = docker
